<a href="https://colab.research.google.com/github/ArelliaAgustin/Desain-dan-Analisis-Algoritma/blob/main/DAA_KODING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import re

# Baca data
data = pd.read_csv('/content/drive/MyDrive/DAA/data_test.csv', encoding='latin-1', header=0, names=['id', 'job_title', 'location', 'career_level','experience_level', 'education_level', 'salary'])
df = pd.DataFrame(data)

# Menghapus baris yang memiliki nilai NaN pada kolom 'salary'
df = df.dropna(subset=['salary'])

# Mengurutkan DataFrame berdasarkan gaji tertinggi
df_sorted_by_salary = df.sort_values(by='salary', ascending=False)

# Data User
user_job = input('Pekerjaan yang ingin dicari: ')
user_location = input('Lokasi anda: ')

# Linear Search untuk multiple hasil
def linear_search_multiple(dataframe, job, location):
    results = []
    for index, row in dataframe.iterrows():
        if re.search(job, row['job_title'], flags=re.IGNORECASE) and re.search(location, row['location'], flags=re.IGNORECASE):
            results.append(row)
    return results

# Menerapkan Linear Search untuk multiple hasil berdasarkan input user
results = linear_search_multiple(df_sorted_by_salary, user_job, user_location)

# Menampilkan hasil pencarian
if results:
    print("\nHasil Pencarian:")
    for result in results:
        print(result[['job_title', 'location', 'experience_level', 'education_level', 'salary']])
else:
    print('\nPekerjaan tidak ditemukan.')

FileNotFoundError: ignored

In [ ]:
import pandas as pd
import re

In [ ]:
# Baca data
data = pd.read_csv('/content/drive/MyDrive/DAA/data_test.csv', encoding='latin-1', header=0, names=['id', 'job_title', 'location', 'career_level','experience_level', 'education_level', 'salary'])
df = pd.DataFrame(data)
data.head(30)

,id,job_title,location,career_level,experience_level,education_level,salary
0,1,Facility Maintenance & Smart Warehouse Manager,Bandung,Manajer/Asisten Manajer,5 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",NaN
1,2,Procurement Department Head,Jakarta Raya,Manajer/Asisten Manajer,5 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",NaN
2,3,SALES ADMIN,Jakarta Barat,Supervisor/Koordinator,4 tahun,Sarjana (S1),NaN
3,4,City Operation Lead Shopee Express (Cirebon),Cirebon,Supervisor/Koordinator,5 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",NaN
4,5,Japanese Interpreter,Bekasi,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",NaN
5,6,KEPALA PABRIK,Balikpapan,Supervisor/Koordinator,NaN,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",10500000.0
6,7,Admin Online Shop,Tangerang,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM",NaN
7,8,Accounting Staff,Tangerang,Pegawai (non-manajemen & non-supervisor),2 tahun,Sarjana (S1),NaN
8,9,MEP Design - Cikarang,Bekasi,Supervisor/Koordinator,4 tahun,Sarjana (S1),NaN
9,10,Tax Supervisor,Banten,Supervisor/Koordinator,3 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",8000000.0
10,11,Odoo Developer / IT Full Stack Developer,Jakarta Utara,Supervisor/Koordinator,2 tahun,Sarjana (S1),NaN
11,12,Identity and Access Management Staff - IT,Jakarta Selatan,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",NaN
12,13,Sales Project,Jakarta Raya,Pegawai (non-manajemen & non-supervisor),2 tahun,Sarjana (S1),NaN
13,14,Analis Kesehatan & Laboratorium,Bali,Pegawai (non-manajemen & non-supervisor),1 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",NaN
14,15,Head Barista,Jakarta Raya,Supervisor/Koordinator,1 tahun,"SMA, SMU/SMK/STM",NaN
15,16,Property Sales,Tangerang,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",NaN
16,17,Sales & Marketing Manager,Cikarang,Manajer/Asisten Manajer,3 tahun,Tidak terspesifikasi,NaN
17,18,Sales Recruiter & Trainer,Jakarta Pusat,Supervisor/Koordinator,3 tahun,Sarjana (S1),NaN
18,19,Accounting Staff,Jakarta Pusat,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",4750000.0
19,20,SALES MOTORIS - PONTIANAK,Pontianak,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",NaN
20,21,Horeca / Institution Account Executive,Jakarta Raya,Pegawai (non-manajemen & non-supervisor),1 tahun,Sarjana (S1),NaN
21,22,Sales Officer,Jakarta Barat,Pegawai (non-manajemen & non-supervisor),2 tahun,Sarjana (S1),NaN
22,23,Senior Staff Purchasing,Surabaya,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",5250000.0
23,24,Internal Trainer & Researcher,Medan,Pegawai (non-manajemen & non-supervisor),1 tahun,Sarjana (S1),NaN
24,25,Field Operation Lead (EXIM),Jakarta Raya,Supervisor/Koordinator,3 tahun,Tidak terspesifikasi,NaN
25,26,Bancassurance Consultant (Cilegon),Cilegon,Lulusan baru/Pengalaman kerja kurang dari 1 tahun,NaN,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",NaN
26,27,MARKETING COMMUNICATION & CHANNEL MANAGER,Jakarta Pusat,Manajer/Asisten Manajer,2 tahun,Tidak terspesifikasi,15000000.0
27,28,Store Supervisor Manado Town Square,Manado,Supervisor/Koordinator,2 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",NaN
28,29,Mechanic,Papua,Pegawai (non-manajemen & non-supervisor),1 tahun,Tidak terspesifikasi,5040000.0
29,30,Beauty Therapist (Eyelash Extension & Nail Art),Cikarang,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",NaN

In [ ]:
# Menghapus baris yang memiliki nilai NaN/kosong pada setiap kolom
df = df.dropna(subset=['job_title', 'location', 'career_level','experience_level', 'education_level', 'salary'])
df.head(30)

,id,job_title,location,career_level,experience_level,education_level,salary
9,10,Tax Supervisor,Banten,Supervisor/Koordinator,3 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",8000000.0
18,19,Accounting Staff,Jakarta Pusat,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",4750000.0
22,23,Senior Staff Purchasing,Surabaya,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",5250000.0
26,27,MARKETING COMMUNICATION & CHANNEL MANAGER,Jakarta Pusat,Manajer/Asisten Manajer,2 tahun,Tidak terspesifikasi,15000000.0
28,29,Mechanic,Papua,Pegawai (non-manajemen & non-supervisor),1 tahun,Tidak terspesifikasi,5040000.0
31,32,PPIC,Tangerang,Manajer/Asisten Manajer,5 tahun,Sarjana (S1),6600000.0
34,35,C# Advanced/Senior Developer,Jakarta Timur,Supervisor/Koordinator,2 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",9500000.0
35,36,Manager Tiktok Shop And Tiktok Live,Banten,Manajer/Asisten Manajer,1 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",6500000.0
37,38,IT Software Developer Staff,Jakarta Barat,Pegawai (non-manajemen & non-supervisor),1 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",6800000.0
38,39,Asisten Penerjemah,Maluku Utara,Pegawai (non-manajemen & non-supervisor),1 tahun,Tidak terspesifikasi,9500000.0
40,41,Backend Developer,Jakarta Raya,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",5500000.0
43,44,Teknik Sipil,Tangerang,Pegawai (non-manajemen & non-supervisor),1 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",4500000.0
55,56,Cook Helper,Jakarta Utara,Pegawai (non-manajemen & non-supervisor),1 tahun,Tidak terspesifikasi,2000000.0
63,64,Warnen/Cleaning Service,Bali,Pegawai (non-manajemen & non-supervisor),1 tahun,Tidak terspesifikasi,3500000.0
66,67,Cook,Batam,Lulusan baru/Pengalaman kerja kurang dari 1 tahun,1 tahun,"SMA, SMU/SMK/STM",3450000.0
79,80,"Regional Sales Manager (Jabar, Jabodetabek)",Jawa Barat,Manajer/Asisten Manajer,5 tahun,Sarjana (S1),11500000.0
91,92,DISTRIBUTION CENTER MANAGER,Jawa Timur,Manajer/Asisten Manajer,3 tahun,Sarjana (S1),22500000.0
92,93,API PROGRAMMER,Jakarta Barat,Pegawai (non-manajemen & non-supervisor),2 tahun,Tidak terspesifikasi,6750000.0
93,94,Technical Designer dan Estimator,Banten,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",6750000.0
107,108,Back End Engineer,Aceh,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",7700000.0
112,113,Taxation Staff,Jakarta Selatan,Pegawai (non-manajemen & non-supervisor),1 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",6000000.0
121,122,Education Content Creator,Jakarta Timur,Pegawai (non-manajemen & non-supervisor),1 tahun,Tidak terspesifikasi,4500000.0
122,123,Finance & Accounting Manager - Port Management...,Jawa Barat,Manajer/Asisten Manajer,3 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",16000000.0
129,130,Senior Infosec Engineer,Jakarta Selatan,Supervisor/Koordinator,4 tahun,"SMA, SMU/SMK/STM, Sarjana (S1)",12000000.0
146,147,Account Manager,Jakarta Barat,Manajer/Asisten Manajer,3 tahun,Sarjana (S1),12500000.0
149,150,Drafter,Cilegon,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",3600000.0
153,154,Senior Software Engineer - Android Mobile,Jakarta Selatan,Supervisor/Koordinator,3 tahun,Sarjana (S1),12000000.0
156,157,Waitress/Waiter,Jawa Timur,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM",2400000.0
158,159,HELPER,Jawa Timur,Lulusan baru/Pengalaman kerja kurang dari 1 tahun,1 tahun,Tidak terspesifikasi,2400000.0
162,163,Digital and Social Media Executive (Travel & L...,Jakarta Pusat,Pegawai (non-manajemen & non-supervisor),2 tahun,Sarjana (S1),665.0

In [ ]:
# Mengurutkan DataFrame berdasarkan gaji tertinggi
df_sorted_by_salary = df.sort_values(by='salary', ascending=False)
df.head(20)

,id,job_title,location,career_level,experience_level,education_level,salary
9,10,Tax Supervisor,Banten,Supervisor/Koordinator,3 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",8000000.0
18,19,Accounting Staff,Jakarta Pusat,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",4750000.0
22,23,Senior Staff Purchasing,Surabaya,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",5250000.0
26,27,MARKETING COMMUNICATION & CHANNEL MANAGER,Jakarta Pusat,Manajer/Asisten Manajer,2 tahun,Tidak terspesifikasi,15000000.0
28,29,Mechanic,Papua,Pegawai (non-manajemen & non-supervisor),1 tahun,Tidak terspesifikasi,5040000.0
31,32,PPIC,Tangerang,Manajer/Asisten Manajer,5 tahun,Sarjana (S1),6600000.0
34,35,C# Advanced/Senior Developer,Jakarta Timur,Supervisor/Koordinator,2 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",9500000.0
35,36,Manager Tiktok Shop And Tiktok Live,Banten,Manajer/Asisten Manajer,1 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",6500000.0
37,38,IT Software Developer Staff,Jakarta Barat,Pegawai (non-manajemen & non-supervisor),1 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",6800000.0
38,39,Asisten Penerjemah,Maluku Utara,Pegawai (non-manajemen & non-supervisor),1 tahun,Tidak terspesifikasi,9500000.0
40,41,Backend Developer,Jakarta Raya,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",5500000.0
43,44,Teknik Sipil,Tangerang,Pegawai (non-manajemen & non-supervisor),1 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",4500000.0
55,56,Cook Helper,Jakarta Utara,Pegawai (non-manajemen & non-supervisor),1 tahun,Tidak terspesifikasi,2000000.0
63,64,Warnen/Cleaning Service,Bali,Pegawai (non-manajemen & non-supervisor),1 tahun,Tidak terspesifikasi,3500000.0
66,67,Cook,Batam,Lulusan baru/Pengalaman kerja kurang dari 1 tahun,1 tahun,"SMA, SMU/SMK/STM",3450000.0
79,80,"Regional Sales Manager (Jabar, Jabodetabek)",Jawa Barat,Manajer/Asisten Manajer,5 tahun,Sarjana (S1),11500000.0
91,92,DISTRIBUTION CENTER MANAGER,Jawa Timur,Manajer/Asisten Manajer,3 tahun,Sarjana (S1),22500000.0
92,93,API PROGRAMMER,Jakarta Barat,Pegawai (non-manajemen & non-supervisor),2 tahun,Tidak terspesifikasi,6750000.0
93,94,Technical Designer dan Estimator,Banten,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",6750000.0
107,108,Back End Engineer,Aceh,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",7700000.0

In [ ]:
# membuat fungsi untuk melakukan pencarian
def linear_search_multiple(dataframe, job, location, education):
    results = []
    for index, row in dataframe.iterrows():
        if re.search(job, row['job_title'], flags=re.IGNORECASE) and re.search(location, row['location'], flags=re.IGNORECASE) and re.search(education, row['education_level'], flags=re.IGNORECASE):
            results.append(row)
    return results

In [ ]:
# Data User
user_job = input('Pekerjaan yang ingin dicari: ')
user_location = input('Lokasi anda: ')
user_education = input('Pendidikan terakhir anda: ')

# Menerapkan Linear Search untuk multiple hasil berdasarkan input user
results = linear_search_multiple(df_sorted_by_salary, user_job, user_location,user_education)

# Menampilkan hasil pencarian
if results:
    print("\nHasil Pencarian:")
    for result in results:
        print(result[['job_title', 'location', 'experience_level', 'education_level', 'salary']])
else:
    print('\nPekerjaan tidak ditemukan.')

Pekerjaan yang ingin dicari: Program
Lokasi anda: Jakarta
Pendidikan terakhir anda: SMK

Hasil Pencarian:
job_title           Programmer / ERP Technical Consultant SAP Busi...
location                                                Jakarta Barat
experience_level                                              3 tahun
education_level     SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...
salary                                                     16000000.0
Name: 31629, dtype: object
job_title                                           Programmer (Java)
location                                                 Jakarta Raya
experience_level                                              2 tahun
education_level     SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...
salary                                                      7500000.0
Name: 4287, dtype: object
job_title                                           Programmer (.NET)
location                                                 Jakarta Raya
experience_level                                              2 tahun
education_level     SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...
salary                                                      7500000.0
Name: 14372, dtype: object