<a href="https://colab.research.google.com/github/ArelliaAgustin/Desain-dan-Analisis-Algoritma/blob/main/DAA_pertemuan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#terdapat list a dan b
a = [1,2,3]
b = [4,5,6]

#lalu jumlahkan
hasil = a + b

print("hasil :", hasil)

hasil : [1, 2, 3, 4, 5, 6]

In [ ]:
list_a = [1,2,3]
list_b = [4,5,6]

hasil = list_a + list_b
def add(list_a, list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first + second)
  return result
print("hasil:", add(list_a,list_b))

hasil: [5, 7, 9]

In [ ]:
import numpy as np

#membuat array
nilai_siswa = np.array([85,55,40,90])

#mengakses data pada array
print("tampilkan:",nilai_siswa[0])

tampilkan: 85

In [ ]:
from IPython.utils.sysinfo import pprint
#melihat versi di python

import numpy as np

print("versi:", np.__version__)

versi: 1.23.5

In [ ]:
print("Hello, world!")
print("Nama saya Arellia Agustin")
print("NIM saya 2022071060")

Hello, world!
Nama saya Arellia Agustin
NIM saya 2022071060

In [ ]:
if (5>2):
  print("five is greater than you!")

five is greater than you!

In [ ]:
x=5
y="john"

print(x)
print(y)

5
john

In [ ]:
x = 4
x = "sally"

print(x)

sally

In [ ]:
def getFirst(myList):
  return myList[0]
getFirst([1,2,3])

1

In [ ]:
def getSecond(myList):
  return myList[2]
getSecond([3,7,6,5,11])

6

In [ ]:
def getLast(myList):
  return myList[len(myList)-1] #kenapa harus-1? karena total array (5)-1 jadi hasilnya data yang terakhir,
getLast([3,7,6,5,11,22,51]) #mau datanya 100 juga dikurangi satu agar menemukan data paling terakhir 100-1=array ke99

51

In [ ]:
def getFirst(myList):
  return myList[len(myList)-1]
getFirst([3,4,5,6,7,200])

200

In [ ]:
def getSum(myList):
  sum = 0
  for item in myList:
    sum = sum+item
  return sum
getSum([4,5])

9

In [ ]:
def getSum(myList):
  sum = 0
  for row in myList:
    for item in row:
      sum += item
  return sum
getSum([[1,2],[3,2]])

8

In [ ]:
#latihan
#buatlah suatu fungsi untuk membagi 2 himpunan angka, jika getSum untuk menjumlahkan angka!
def getSum(myList):
  sum = 0
  for item in myList:
    for item in row:
      sum /= item
  return sum
getSum([[15,3],[6,2]])

NameError: ignored

In [ ]:
#Buatlah suatu fungsi untuk : mengurangi 2 himpunan angka, jika getSum untuk menjumlahkan angka!